SELECT * FROM SMPMENUS WHERE MENUCD LIKE 'SAF%';
SELECT ACTIVITYCD FROM SMPACTIVITIES WITH(NOLOCK) WHERE ACTIVITYID =  '1';

INSERT INTO SMPMENUS_ACTIVITIES	(MENUID, ACTIVITYID, MENUCD, ACTIVITYCD, AGENT_ID) SELECT MENUID, '1', MENUCD, 'COMM_READ', '13' FROM SMPMENUS WHERE MENUCD LIKE 'SAF%';
INSERT INTO SMPMENUS_ACTIVITIES	(MENUID, ACTIVITYID, MENUCD, ACTIVITYCD, AGENT_ID) SELECT MENUID, '2', MENUCD, 'COMM_SAVE', '13' FROM SMPMENUS WHERE MENUCD LIKE 'SAF%';


SELECT * FROM SMPROLES WHERE ROLECD LIKE 'SAF%';
UPDATE SMPBORGS_USERS
   SET 
-- ar_test 권한 변경 
UPDATE SMPBORGS_USERS_ROLES
   SET ROLEID = '21066'
 WHERE USERID =  '301799'
   AND BORGID =  '304456';